<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
    <title>Register</title>

</head>
<body onload="form.reset()">

    <section class="main">
        <div class="container">
            <div class="col1">
                <h1>Sign Up</h1>

                <form action="/signup" method="POST" autocomplete='off' id="form">
                    <div class="entry"> <img src="images/mail.png" alt="login">
                         <input type="text" name="username" id="username" placeholder="E-mail ID" autocomplete='off'>       
                    </div>
                   
                   <div class ="entry">  <img src="images/lock.png" alt="login">
                    <input type="password" name="password" id="password" placeholder="Password" autocomplete='off'>     
                  </div>                   
                    <input type="submit" value="Register" class="registerbtn">
                </form>

            </div>

            <div class="col2">
                <img src="images/redlaptop.png" alt="login">
                <div class="text">   
                    <p>Already have an account? <a href="/signin">Login</a></p>            
             </div>
            </div>
        </div>
    </section>
    
</body>
</html>