<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:wght@300;600&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <section class="main">
        <div class="container">
            <div class="subcol1">
                <h1>Hello!</h1>
                <h2>Have a great day &lt3 </h2>
            </div>

            <div class="subcol2">
                <img src="images/redhello.png" alt="login">
            </div>
        </div>
    </section>
    
</body>
</html>